/* Write your CSS here */
.bg-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  text-align: center;
  border-radius: 8px;
  border-color: #000000;
}
.light-mode {
  background-color: #ffffff;
  border: solid 2px #000000;
}
.dark-mode {
  background-color: #000000;
}
.head-text {
  color: #ffffff;
  padding: 15px;
}
.header {
  color: #000000;
  padding: 15px;
}
.light-btn {
  font-family: 'Roboto';
  padding: 13px;
  color: #000000;
  margin: 15px;
  border-radius: 8px;
}
